Repository Brendhon/MindEase: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

docs: update README.md to enhance clarity and detail on project objectives, features, and setup instructions
  README.md
Due: npx --no prettier --write

docs: refine README.md for improved readability and organization of project features and user benefits
  README.md
Due: npx --no prettier --write

feat: enhance ESLint configuration with Storybook plugin and update type handling in unit tests for improved type safety
  __tests__/unit/services/tasks.test.ts
  __tests__/unit/services/user-preferences.test.ts
  components/form/form-input/form-input.stories.tsx
  components/form/input/input-field.tsx
  eslint.config.mjs
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

docs: update README.md to use bullet points for better readability of user challenges and project focus
  .husky/pre-commit
  README.md
Due: npx --no prettier --write

chore: simplify linting commands in configuration by removing 'npx --no' prefix for improved readability
  .lintstagedrc.json
Due: npx --no prettier --write

docs: update README.md to use bullet points for project features and enhance pre-commit hook for linting
  .husky/pre-commit
  README.md
Due: npx --no prettier --write

chore: update commit-msg hook to include commitlint for validating commit messages
  .husky/commit-msg
Due: none

feat: implement CI/CD pipeline with GitHub Actions for automated build, test, and deploy processes, and update README.md with detailed pipeline instructions
  .github/workflows/ci-cd.yml
  .github/workflows/playwright.yml
  README.md
Due: npx --no prettier --write

test: add end-to-end authentication tests for route protection and login page visibility
  __tests__/e2e/auth.spec.ts
  __tests__/e2e/example.spec.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

docs: update README.md to reflect removal of E2E tests and adjust CI/CD workflow configuration for streamlined testing process
  .github/workflows/ci-cd.yml
  README.md
Due: npx --no prettier --write

docs: update README.md for production URL configuration and adjust Node.js version in CI/CD workflow
  .github/workflows/ci-cd.yml
  README.md
Due: npx --no prettier --write

chore: update test:all script in package.json to include end-to-end tests for comprehensive testing coverage
  package.json
Due: npx --no prettier --write

docs: expand README.md with required secrets for Vercel, Firebase, NextAuth, and Google OAuth; update CI/CD workflow to include environment variables for these secrets
  .github/workflows/ci-cd.yml
  README.md
Due: npx --no prettier --write

fix: update CI/CD workflow to use npx for Vercel deployment command
  .github/workflows/ci-cd.yml
Due: npx --no prettier --write

chore: simplify husky hooks by removing unnecessary shebang and husky.sh sourcing
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: update Vercel deployment command to include --yes flag for automatic confirmation
  .github/workflows/ci-cd.yml
Due: npx --no prettier --write

fix: specify project name in Vercel deployment command for clarity
  .github/workflows/ci-cd.yml
Due: npx --no prettier --write

docs: update README.md to include production application URL and Google OAuth authentication details
  README.md
Due: npx --no prettier --write

fix: enhance login texts for clarity and personalization in accessibility feature
  content/accessibility-texts.json
Due: npx --no prettier --write

fix: refine login title in accessibility texts for improved user experience
  content/accessibility-texts.json
Due: npx --no prettier --write

feat: add comprehensive tests for Button, Card, Checkbox, and Input components to enhance coverage and ensure functionality
  __tests__/components/ui/button.test.tsx
  __tests__/components/ui/card.test.tsx
  __tests__/components/ui/checkbox.test.tsx
  __tests__/components/ui/input.test.tsx
  __tests__/setup.ts
  vitest.config.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

feat: add snapshot tests for Button component to ensure visual consistency and functionality
  __tests__/snapshot/__snapshots__/button.snapshot.test.tsx.snap
  __tests__/snapshot/button.snapshot.test.tsx
  vitest.config.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

feat: add functional tests for TaskChecklist and TaskChecklistProgress components to ensure correct rendering, progress calculation, and accessibility
  __tests__/components/tasks/task-checklist-progress.test.tsx
  __tests__/components/tasks/task-checklist.test.tsx
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

feat: introduce centralized mock hooks for accessibility and cognitive settings to streamline testing across components
  __tests__/__mocks__/hooks.ts
  __tests__/__mocks__/index.ts
  __tests__/components/form/form-input.test.tsx
  __tests__/components/tasks/task-checklist-progress.test.tsx
  __tests__/components/tasks/task-checklist.test.tsx
  __tests__/components/ui/button.test.tsx
  __tests__/components/ui/card.test.tsx
  __tests__/components/ui/checkbox.test.tsx
  __tests__/components/ui/input.test.tsx
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

feat: add snapshot tests for Card, Checkbox, and Input components to ensure visual consistency and functionality
  __tests__/snapshot/__snapshots__/card.snapshot.test.tsx.snap
  __tests__/snapshot/__snapshots__/checkbox.snapshot.test.tsx.snap
  __tests__/snapshot/__snapshots__/input.snapshot.test.tsx.snap
  __tests__/snapshot/button.snapshot.test.tsx
  __tests__/snapshot/card.snapshot.test.tsx
  __tests__/snapshot/checkbox.snapshot.test.tsx
  __tests__/snapshot/input.snapshot.test.tsx
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

feat: add functional tests for Select component to verify rendering, options, accessibility, and user interactions
  __tests__/components/form/select.test.tsx
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

feat: update testing scripts in package.json and CI/CD workflow to include snapshot tests, while removing E2E tests from the all test command
  .github/workflows/ci-cd.yml
  docs/guidelines/testing-strategy.md
  package.json
Due: npx --no prettier --write

feat: implement extractPreferences function to streamline user preferences extraction from document
  services/user-preferences/user-preferences.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

test: add longBreakDuration to user preferences tests for consistency
  __tests__/unit/services/user-preferences.test.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

fix: update profile description in accessibility texts for clarity
  content/accessibility-texts.json
Due: npx --no prettier --write

fix: correct profile description in accessibility texts for consistency
  content/accessibility-texts.json
Due: npx --no prettier --write

feat: implement subscribeTasks and subscribeCollection for real-time updates in tasks service
  __tests__/unit/services/auth.test.ts
  __tests__/unit/services/tasks.test.ts
  hooks/tasks/useTasks.ts
  services/firestore/firestore.ts
  services/tasks/tasks.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

feat: add useSyncTimerWithTasks hooks to synchronize timers with remote task changes
  hooks/timer/index.ts
  hooks/timer/useSyncTimerWithTasks.ts
  providers/timer/break-timer-provider.tsx
  providers/timer/focus-timer-provider.tsx
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

fix: update useSyncTimerWithTasks hooks to stop timers based on task status changes
  hooks/timer/useSyncTimerWithTasks.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

fix: ensure timer starts after updating task status to "In Progress" in useTaskCard hook
  hooks/tasks/useTaskCard.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

refactor: enhance useTaskCard hook to incorporate cognitive settings and adjust focus mode logic
  hooks/tasks/useTaskCard.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

feat: implement real-time subscription for user preferences and update cognitive settings hook for synchronization
  __tests__/unit/services/user-preferences.test.ts
  app/(authenticated)/layout.tsx
  hooks/cognitive-settings/useCognitiveSettings.ts
  services/firestore/firestore.ts
  services/user-preferences/user-preferences.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

chore: update README.md to enhance project description, structure, and accessibility features, including a new summary and detailed functionalities
  README.md
Due: npx --no prettier --write

fix: correct GitHub link for the MindEase mobile app in README.md
  README.md
Due: npx --no prettier --write

refactor: remove unnecessary state updates in task creation and update logic
  components/tasks/task-dialog/task-dialog.tsx
  hooks/tasks/useTasks.ts
Due: npx --no prettier --write, npx --no eslint --fix, npx --no eslint

Path conditions:
  npx --no prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml})
  npx --no eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx --no eslint: any of: *.{js,jsx,ts,tsx}
